:root {
    --primary-header-color: #0C0B10F2;
    --background-page-color: #01020F;
    --secondary-text-color: #6B7280;
    --primary-active-color: #22D3EE;
    --secondary-active-color: #60A5FA;
    --font-main: 'Consolas';
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.feedback{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--background-page-color);
    padding: 32px 0;
}
.feedback-container{
    width: 95%;
    max-width: 1312px;
}
.feedback-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.feedback-top-left{
    width: 100%;
    max-width: 814px;
    border-left: 1.6px solid var(--primary-active-color);
    padding-left: 16px;
}
.feedback-top-left h1{
    font-family: var(--font-main);
    font-weight:700;
    font-style: Bold;
    font-size: 36px;
    color: #00F0FF;
}
.feedback-top-left h1 span{
    color: #F3F4F6;
}
.feedback-top-left p{
    margin-top: 8px;
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: var(--secondary-text-color);
}
.feedback-top-close{
    cursor: pointer;
    width: 85px;
    height: 35px;
    border: 1.2px solid #00F0FF4D;
    background-color: transparent;
}
.feedback-bottom{
    width: 100%;
    display: flex;
    gap: 30px;
}
.feedback-bottom-left{
    width: 100%;
    max-width: 832px;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.feedback-bottom-left-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.feedback-bottom-left-form-tittle{
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #6B7280;
}
.feedback-bottom-left-form-input{
    width: 100%;
    height: 50px;
    display: flex;
}
.feedback-bottom-left-form-input-number{
    width: 100%;
    max-width: 48px;
    height: 100%;
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4B5563;
}
.feedback-bottom-left-form-input input{
    width: 100%;
    outline: none;
    padding: 0 8.8px;
    border: 1px solid #1F2937;
    background-color: #1A1A1A;
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #9CA3AF;
}
.feedback-bottom-left-form-gird{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.feedback-bottom-left-form-gird-col{
    width: 100%;
    display: flex;
    gap: 12px;
}
.feedback-bottom-left-form-gird-col-box{
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 15.8px;
    border: 1px solid #1F2937;
    background-color: #1A1A1A;
}
.feedback-bottom-left-form-gird-col-box img{
    width: 20px;
    height: 20px;
}
.feedback-bottom-left-form-gird-col-box p{
    align-self: center;
    font-family: var(--font-main);
    font-weight: 700;
    font-style: Bold;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #9CA3AF;
}
.feedback-bottom-left-form-cmt{
    width: 100%;
    height: 217px;
    padding: 12px 20px;
    border: 1px solid #1F2937;
    background-color: #1A1A1A;
    outline: none;
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #9CA3AF;
}
.feedback-bottom-left-form-upload{
    width: 100%;
    padding: 32.6px;
    background-color: #1A1A1A;
    border: 1px solid #1F2937;
}
.feedback-bottom-left-form-upload-container{
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feedback-bottom-left-form-upload-container img{
    width: 100%;
    max-width: 32px;
    height: 32px;
}
.feedback-bottom-left-form-upload-container-text-top{
    margin-top: 12px;
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #9CA3AF;
}
.feedback-bottom-left-form-upload-container-text-bottom{
    margin-top: 4px;
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #4B5563;
}
.feedback-bottom-left-btn{
    cursor: pointer;
    width: 100%;
    min-height: 52px;
    background-color: #00F0FF;
    border: 0;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}
.feedback-bottom-left-btn:hover{
    background-color: #00D8E6;
}
.feedback-bottom-left-btn:hover img{
    transform: translateX(5px) translateY(1px);
}
.feedback-bottom-left-btn p{
    font-family: var(--font-main);
    font-weight: font 700;
    font-style: Bold;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
.feedback-bottom-right{
    width: 100%;
    max-width: 448px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.feedback-bottom-right-top{
    width: 100%;
    padding: 31.8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1A1A1A;
    border: 1px solid #1F2937;
}
.feedback-bottom-right-top-tittle{
    margin-top: 32px;
    font-family: var(--font-main);
    font-weight: 700;
    font-style: Bold;
    font-size: 14;
    line-height: 20px;
    text-align: center;
    color: #00F0FF;
}
.feedback-bottom-right-top-text{
    margin-top: 8px;
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #00F0FF;
}
.feedback-bottom-right-channel{
    width: 100%;
    padding: 23.8px;
    background-color: #1A1A1A;
    border: 1px solid #1F2937;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.feedback-bottom-right-tittle{
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #6B7280;
}
.feedback-bottom-right-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.feedback-bottom-right-container-box{
    width: 100%;
    padding: 11.8px;
    background-color: #0A0A0A;
    border: 1px solid #1F2937;
    display: flex;
    gap: 18px;
}
.feedback-bottom-right-container-box img{
    width: 20px;
    height: 22px;
}
.feedback-bottom-right-container-box-content{
    width: 100%;
    display: flex;
    gap: 4px;
    flex-direction: column;
}
.feedback-bottom-right-container-box-content-tittle{
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #6B7280;
}
.feedback-bottom-right-container-box-content-text{
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #F3F4F6;
}
.feedback-bottom-right-container-box-content-bottom{
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 12px;
    color: #4B5563;
}
.feedback-bottom-right-FAQ{
    width: 100%;
    background-color: #1A1A1A;
}
.feedback-bottom-right-FAQ-top{
    width: 100%;
    padding: 24px;
}
.feedback-bottom-right-FAQ-box{
    width: 100%;
}
.feedback-bottom-right-FAQ-box-top{
    cursor: pointer;
    width: 100%;
    padding: 16px;
    display: flex;
    gap: 12px;
    border-width: 0.8px 0px 0px 1.6px;
    border-style: solid; 
    border-color: #1F2937;
}
.feedback-bottom-right-FAQ-box-top:hover{
    background: #0A0A0A;
}
.feedback-bottom-right-FAQ-box-top img{
    transition: all 0.3s ease;
    transform: rotate(-90deg);
}
.feedback-bottom-right-FAQ-box-top p{
    font-family: var(--font-main);
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    line-height: 20px;
    color: #D1D5DB;
}
.feedback-bottom-right-FAQ-box-bottom{
    display: none;
    padding: 16px;
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #9CA3AF;
    border-width: 0px 0px 0px 1.6px;
    border-style: solid; 
    border-color: #1F2937;
}
.active-FAQ{
    background-color: #0A0A0A;
}
.feedback-bottom-right-FAQ-box.active-FAQ .feedback-bottom-right-FAQ-box-bottom{
    display: block;
}
.feedback-bottom-right-FAQ-box.active-FAQ .feedback-bottom-right-FAQ-box-top img{
    transform: rotate(0deg);
}


@media(max-width: 1024px){
.feedback-top-left h1{
    font-size: 28px;
}
.feedback-top-left p{
    font-size: 10px;
}
.feedback-bottom{
    gap: 20px;
}
.feedback-bottom-left-form-tittle{
    font-size: 8px;
    line-height: 16px;
}
.feedback-bottom-left-form-input{
    height: 36px;
}
.feedback-bottom-left-form-input-number{
    width: 36px;
    font-size: 12px;
}
.feedback-bottom-left-form-input input{
    font-size: 12px;
}
}
@media(max-width: 767px){
    .feedback-bottom{
        flex-direction: column;
        gap: 50px;
    }
    .feedback-top-close{
        width: 35px;
    }
    .feedback-top-left h1{
        font-size: 24px;
    }
    .feedback-bottom-right{
        max-width: none;
    }
}