:root {
    --primary-header-color: #0C0B10F2;
    --background-page-color: #01020F;
    --secondary-text-color: #9CA3AF;
    --primary-active-color: #22D3EE;
    --secondary-active-color: #60A5FA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1528px;
    width: 95%;
    margin: 0 auto;
}

header {
    background-color: var(--primary-header-color);
    border: 0.8px solid #1F2833;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.inner-head {
    display: flex;
    align-items: center;
    background-color: transparent;
    justify-content: space-between;
}

.head-search-box {
    padding: 12px;
    display: flex;
    gap: 10px;
    border: 1px solid #FFFFFF33;
    border-radius: 8px;
    background-color: #000000;
    width: 500px;
}

.head-search-box:hover {
    border: 1px solid var(--primary-active-color);
    background-color: #ffffff14;
}

.head-search-box:focus-within {
    border: #ffffff80;
    box-shadow: 0 0 0 2px var(--primary-active-color);
}

.head-search {
    background-color: transparent;
    color: var(--secondary-text-color);
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    outline: none;
    border: none;
}

.head-search::placeholder {
    color: var(--secondary-text-color);
    font-size: 16px;
    font-weight: 400;
}

header nav {
    display: flex;
    gap: 30px;
    align-items: center;
}

nav a {
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    letter-spacing: 0.35px;
    height: 20px;
}

nav a:hover {
    text-shadow: 2px 2px 5px #fae75b40;
}

header nav button {
    width: 90px;
    height: 36px;
    background-color: transparent;
    border: 1px solid var(--primary-active-color);
    color: var(--primary-active-color);
    font-weight: 400;
    font-size: 14px;
    transition: all 0.2s ease;
}

header nav button:hover {
    background-color: var(--primary-active-color);
    color: var(--primary-header-color);
}

header nav button:active {
    transform: scale(0.95);
}

.head-res {
    display: none;
    position: relative;
}

#head-search-icon, #hamburger {
    cursor: pointer;
}

.head-search-box2 {
    padding: 12px;
    display: none;
    gap: 10px;
    border: 1px solid #FFFFFF33;
    border-radius: 8px;
    background-color: #000000;
    width: 500px;
    transition: 0.3s ease;
    margin: 0 10px;
}

.head-search-box2:hover {
    border: 1px solid var(--primary-active-color);
    background-color: #ffffff14;
}

.head-search-box2:focus-within {
    border: #ffffff80;
    box-shadow: 0 0 0 2px var(--primary-active-color);
}

.head-search2 {
    background-color: transparent;
    color: var(--secondary-text-color);
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    outline: none;
    border: none;
}

.head-search2::placeholder {
    color: var(--secondary-text-color);
    font-size: 16px;
    font-weight: 400;
}

.head-search-box2.head-search-active {
    display: flex;
}

#head-search-icon.head-search-hide {
    display: none;
}

.hamburgerx {
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    width: 45px;
    height: 45px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 2px;
    cursor: pointer;
}

#head-nav-box {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 10px;
    position: absolute;
    top: 70px;
    right: 1px;
    padding: 20px 10px;
    background-color: var(--primary-header-color);
    border: 2px solid var(--primary-active-color);
}

#head-nav-box a {
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    letter-spacing: 0.35px;
    height: 20px;
}

#head-nav-box a:hover {
    text-shadow: 2px 2px 5px #fae75b40;
}

#head-nav-box.hamburger-active {
    display: flex;
}

.hamburgerx.hamburger-active {
    display: flex;
}

#hamburger.hamburger-hide {
    display: none;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 1350px) {
    .head-search-box {
        width: 400px;
    }
}

@media screen and (max-width: 1030px) {
    header nav {
        display: none;
    }
    .head-res {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}
