:root {
    --primary-header-color: #0C0B10F2;
    --background-page-color: #01020F;
    --secondary-text-color: #9CA3AF;
    --primary-active-color: #22D3EE;
    --secondary-active-color: #60A5FA;
    --primary-back-banner-color: #0B0C10;
    --primary-border-color: #1F2833;
    --primary-text-color: #ffffff;
    --primary-footer-color: #050505;
    --primary-back-main-right-color: #0E0E14;
    --paid-color: #FB923C;
    --tab-color: #00FF26;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: var(--background-page-color);
}

.banner {
    height: calc(100dvh - 70px);
    width: 100%;
    display: flex;
    background-color: var(--primary-footer-color);
    border-bottom: 0.8px solid var(--primary-border-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    max-width: 900px;
    width: 95%;
}

.vault {
    width: 700px;
}

/* main box */
.vault-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.vault-box h1 {
    font-size: 48px;
    letter-spacing: 2.4px;
    color: var(--primary-active-color);
    text-shadow:
        0 0 8px var(--primary-active-color),
        0 0 18px var(--primary-active-color);
}

.vault-box p {
    font-size: 14px;
    letter-spacing: 1.6px;
    color: var(--secondary-text-color);
}

.vault-stats {
    display: flex;
    justify-content: center;
    gap: 26px;
}

.banner-stat {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 12px;
    font-weight: 400;
    color: var(--secondary-text-color);
}

.banner-stat span {
    width: 8px;
    height: 8px;
    background: var(--primary-active-color);
}

.empty {
    color: #888;
    font-style: italic;
    padding: 20px;
}

.line {
    height: 3px;
    width: 100%;
    background: linear-gradient(90deg, rgba(0, 240, 255, 0) 0%, #00F0FF 50%, rgba(0, 240, 255, 0) 100%);
}

.search-title {
    color: var(--primary-active-color);
    font-family: 'Inter';
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 1.2px;
    text-transform: uppercase;

}

.main {
    display: flex;
}

.main-left {
    padding: 24px 24px 0;
    height: auto;
    background-color: var(--primary-footer-color);
}

.inner-main-left {
    padding: 12px 14px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.main-left-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.main-left-intro {
    display: flex;
    align-items: center;
    gap: 8px;
}

.main-left .first-line {
    width: 24px;
    height: 2px;
    background-color: var(--primary-active-color);
}

.main-left-intro .text {
    font-size: 24px;
    font-weight: 400px;
    color: var(--primary-active-color);
}

.main-left-choice {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.main-left-checkbox {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35;
    cursor: pointer;
    color: var(--secondary-text-color);
}

.main-left-checkbox input {
    display: none;
}

.main-left-checkbox span {
    width: 20px;
    height: 20px;
    background: var(--primary-footer-color);
    border: 2px solid var(--primary-border-color);
    display: inline-block;
}

.main-left-checkbox span:hover {
    border: 2px solid var(--primary-active-color);
}

.main-left-checkbox input:checked + span {
    border-color: var(--primary-active-color);
    box-shadow: 0 0 8px var(--primary-active-color);
    background-color: var(--primary-active-color);
}

.main-right {
    background-color: var(--primary-back-main-right-color);
    padding: 40px 0 32px;
    flex: 1;
}

.inner-main-right {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 64px;
}


.main-right-box {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.main-right-box-result .main-right-head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.main-right-head .mainText {
    font-size: 24px;
    font-weight: 700;
    color: var(--primary-text-color);
    white-space: nowrap;
}

.main-right-head .first-line {
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, rgba(34, 211, 238, 0.5) 0%, rgba(34, 211, 238, 0) 100%);
}

.main-right-card-box {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.tag-box {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.tag {
    padding: 3px 9px;
    border: 0.8px solid var(--tab-color);
    color: var(--tab-color);
    font-weight: 400;
    font-size: 9.6px;
}

.tag.more {
    opacity: 0.6;
}

.main-right-card {
    width: calc((100% - 48px) / 3);
    height: 212px;
    background-color: var(--primary-back-banner-color);
    border-radius: 16px;
    padding: 24px 24px;
    position: relative;
    border: 1px solid var(--primary-border-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* HEART */
.heart-btn {
    position: absolute;
    top: 14px;
    right: 14px;
    width: 34px;
    height: 34px;
    border: 1px solid var(--primary-border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #00000096;
}

.heart-btn:hover {
    background-color: #1f2833e6;
    border: 1px solid #22d3ee33;
}

.heart-btn img {
    width: 18px;
    transition: transform .25s ease, filter .25s ease;
}

/* animation */
@keyframes pop {
    0%   { transform: scale(1); }
    30%  { transform: scale(1.4) translateY(-5px); }
    60%  { transform: scale(0.95); }
    100% { transform: scale(1); }
}

.heart-btn.animate img {
    animation: pop .4s ease;
}

.right-card-text {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.right-card-text1 {
    font-size: 18px;
    font-weight: 700;
    color: var(--primary-text-color);
}

.right-card-text2 {
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary-text-color);
}

.card-footer {
    display: flex;
    gap: 14px;
    padding-top: 16px;
    border-top: 0.8px solid var(--primary-border-color);
    justify-content: space-between;
    align-items: end;
}

.badge {
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 400;
}

.freemium {
    border: 1px solid var(--secondary-active-color);
    color: var(--secondary-active-color);
}

.paid {
    border: 1px solid var(--paid-color);
    color: var(--paid-color);
}

.free {
    border: 1px solid var(--primary-active-color);
    color: var(--primary-active-color);
}

.stat-box {
    display: flex;
    align-items: center;
    gap: 16px;
}

.stat {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    color: var(--secondary-text-color);
}

.stat img {
    width: 14px;
}

.main-right-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-right-footer-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
}

.main-right-footer-btn button {
    width: 48px;
    height: 48px;
    background: none;
    border: 1px solid var(--primary-border-color);
    background-color: #000000;
    border-radius: 50%;
    cursor: pointer;
}

.main-right-footer-btn button:hover {
    background-color: var(--primary-active-color);
    border: 1px solid var(--primary-active-color);
}

.main-right-footer-btn span {
    font-size: 20px;
    font-weight: 500;
    color: var(--secondary-text-color);
}

.view-all {
    font-size: 12px;
    color: var(--primary-active-color);
    text-decoration: none;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1100px) {
    .main-right-card {
        width: calc((100% - 24px) / 2);
        height: 212px;
        background-color: var(--primary-back-banner-color);
        border-radius: 16px;
        padding: 24px 24px;
        position: relative;
        border: 1px solid var(--primary-border-color);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media screen and (max-width: 820px) {
    .main-left {
        padding: 75px 0;
    }
}

@media screen and (max-width: 755px) {
    .main-right-card {
        width: 100%;
        height: 212px;
        background-color: var(--primary-back-banner-color);
        border-radius: 16px;
        padding: 24px 24px;
        position: relative;
        border: 1px solid var(--primary-border-color);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .main-left .first-line {
        width: 4px;
        height: 2px;
        background-color: var(--primary-active-color);
    }

    .main-left-intro .text {
        font-size: 12px;
        font-weight: 400px;
        color: var(--primary-active-color);
    }
    .main-left-checkbox {
        display: flex;
        align-items: center;
        gap: 12px;
        font-size: 8px;
        font-weight: 400;
        letter-spacing: 0.35;
        cursor: pointer;
        color: var(--secondary-text-color);
    }

    .main-left-checkbox input {
        display: none;
    }

    .main-left-checkbox span {
        width: 12px;
        height: 12px;
        background: var(--primary-footer-color);
        border: 2px solid var(--primary-border-color);
        display: inline-block;
    }
    .badge {
        padding: 4px 8px;
        border: 1px solid var(--secondary-active-color);
        color: var(--secondary-active-color);
        font-size: 8px;
        font-weight: 400;
    }
    .main-right-head .mainText {
        font-size: 16px;
        font-weight: 700;
        color: var(--primary-text-color);
        white-space: nowrap;
    }
}